---
import GHCard from "../components/Repos/astro/GHCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro." description="Home">
  <div class="mx-auto max-w-7xl p-6 lg:p-8">
    <h1 class="mb-5 -mt-3 text-5xl font-extrabold dark:text-white">
      Shyntorie
    </h1>
    <GHCard />
  </div>
</Layout>
